.react-workflow-editor-container-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    .react-workflow-editor-toolbar-container-wrapper {
      height: 100%;
      width: 160px;
      @media screen and (max-width: 320px) {
        width: 20%;
      }
      overflow: hidden;
    }
  }